@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
  height: 100%;
  margin: 0;
  font-family: Inter, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer {
  background: rgb(198, 49, 49);
  background: linear-gradient(0deg, rgba(198, 49, 49, 0.5) 0%, rgba(34, 165, 195, 0.46870623249299714) 100%);
  min-height: 100vh;
}

#navbarTransparent {
  transition: 1s;
  background: rgb(255, 255, 255, 0);
}

#navbarColored {
  transition: 1s;
  box-shadow: 5px 5px 35px rgb(67, 67, 67);
  background: rgb(255, 255, 255, 1);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 19%, rgb(0, 149, 255) 100%);

}

#login-form {}

.btn-register {
  color: blue;
  cursor: pointer;
  transition: 0.5s;
}

.btn-register:hover {
  font-size: 22px;
  font-weight: bold;
}

.link-navbar {
  color: rgb(62, 118, 206) !important;
  transition: 0.3s !important;
}

.link-navbar:hover {
  font-size: 22px !important;
  color: rgb(136, 159, 66) !important;
  text-shadow: 10px 15px 10px grey;
}

.info-homepage {
  background-color: rgb(182, 214, 177);
  border-radius: 50px;
}

.carousel-img {
  height: 400px;
  width: 600px;
}

.navbar-dropdown-container {
  top: 55px !important;
  left: -120px !important;
  background: rgba(112, 189, 252, 0.4) !important;
  -webkit-backdrop-filter: blur(9px) !important;
  backdrop-filter: blur(9px) !important;

}

.navbar-dropdown-li-link {
  padding-left: 20px;
  text-decoration: none;
  margin: 7px 0px 7px 0px;
  color: black;
}

#nav-dropdown-li:hover {
  transition: 0.5s;
  background-color: rgba(147, 173, 68, 0.5);
}